.button-item {
    background-color: white;
    color: black;
    width: 50%;
    height: 40px;
    margin-top: -40px;
    border: 0.5px solid black;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    z-index: 1;
}

.button-item:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.img-add-to-card {
    width: 20px;
}

@media screen and (min-width: 721px) {
    .button-item {
        width: 70%;
    }
}
