:root {
  font-family: "Red Hat Text", sans-serif;
  --main-color: #B94623;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

body {
  background-color: #fcf8f5;
}

body.modal-open {
  overflow: hidden;
}

