.img-dessert {
    width: 100%;
    border-radius: 10px;
    margin: 0 0 20px 0;
    border: 3px solid transparent;
    z-index: -0;
}

.img-dessert-border {
    border: 3px solid var(--main-color);
}

h3 {
    color: var(--main-color);
    font-weight: 500;
}


.item-dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 20px 0;
    gap: 7px;
}

.text-caterogy {
    color: rgb(149, 149, 149);
    font-size: 1rem;
}

.text-name {
    font-size: 1.2rem;
    font-weight: 500;
}



@media screen and (min-width: 721px) {
    .item-dessert {
        max-width: 31%;
    }
    .text-caterogy {
        font-size: 0.7rem;
    }
    
    .text-name {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    .text-container {
        margin: 0;
    }
}