.remplacement-button-item {
    background-color: var(--main-color);
    color: white;
    width: 50%;
    height: 40px;
    margin-top: -40px;
    padding: 15px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.button-increment-decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.button-increment-decrement:hover {
    background-color: #99391b;
}

